
                              pip installation

!pip install dask
!pip install dask-ml
!pip install dask-cuda
!pip install duckdb
!pip install polars
!pip install polars[numpy,pyarrow]
!pip install pyarrow
!pip install polars[gpu] --extra-index-url=https://pypi.nvidia.com
!pip install numpy
!pip install pandas
!pip install scikit-learn
!pip install seaborn
!pip install --extra-index-url=https://pypi.nvidia.com cudf-cu12
!pip install duckdb pandas jupysql matplotlib

                             Conda installation 

conda config --show channels

conda config --add channels rapidsai
conda config --add channels conda-forge
conda config --add channels nvidia

conda install pyarrow
conda install numpy
conda install pandas
conda install scikit-learn
conda install seaborn
conda install duckdb

conda install -c rapidsai -c conda-forge -c nvidia dask-cuda cuda-version=12.6

conda install dask
conda install dask-ml
conda install dask-cuda --> currently not supported in windows
conda install polars
conda install polars[numpy,pyarrow]

conda install -c rapidsai -c conda-forge -c nvidia cudf=25.02 python=3.12 cuda-version=12.6 --> currently not supported in windows.
